@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* 
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header 
{
    width: 100%;
    transition: 0.2s ease-in-out;
    background-color: transparent;
    position: fixed;
    color: white;
    padding: 0 20px;
    height: 60px;
    z-index: 3;
}

header:hover
{
    width: 100%;
    background-color: #181818;
    position: fixed;
    color:#181818;
    padding: 0 20px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.1);
}

nav ul li 
{
  line-height: 58px;
  margin: 0 5px;
}

header nav 
{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.btn1
{
  margin-left: 524px;
}

.btn1:hover 
{
    background-color: transparent;
    color:#ffffff;
    font-weight: bold;

}

.btn1:after 
{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn1:hover:after 
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn2:hover 
{  
    background-color: transparent;
    color: #ce8e8e;
    font-weight: bold;
}

.btn2:after 
{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#ce8e8e;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn2:hover:after 
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn3:hover 
{
    background-color: transparent;
    color:#8eadce;
    font-weight: bold; 
}

.btn3:after 
{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#8eadce;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn3:hover:after 
{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.btn4:hover 
{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn4:after 
{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn4:hover:after 
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn5:hover 
{
  background-color: transparent;
    color:#ce8e8e;
    font-weight: bold;
}

.btn5:after 
{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ce8e8e;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn5:hover:after 
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active,nav ul a:hover 
{
  background-color: transparent; 
    border-radius: 0%;
    padding: 10px;
    color: #000;     
}

nav ul 
{
  display:flex;
  align-items:flex-end;
  justify-content: space-between;
  transition: .5s;
}

nav ul a 
{
  color: #ffffff;
  font-size: 9px;
  padding: 5px 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: .4s;
  font-weight: light; 
}

ul li 
{
  display: inline-block;
}

ul li:hover 
{
  background-color: transparent;
}

ul li:hover ul 
{
  display: block;
}

ul li ul 
{
  position: absolute;
  width: 200px;
  display: none;
}

ul li ul li 
{
  background-color: #181818;
  display: block;
}

ul li ul li a 
{
  display: block !important;
  font-size: 8px;
  color: #fff !important;
}

ul li ul li:hover 
{
  background-color: #141414;
}

main 
{
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

section 
{

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  font-size: 40px;
}

section#home 
{
  background-color: #181818;
  color: #000000;
  font-size: large;
  align-items:center;
}

.home 
{
  margin-bottom: 500%;
  margin-top: 50px;
}

.bg-img 
{
  width: 1536px;
  top: -1px;
  height: 390px;
  position: absolute;
}

.home-content 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: 8rem;
  gap: 1rem;
}

.logo
 {
    width: 100%;
    max-width: 280px;
    border-radius: 500px;
    border: 6px solid #181818;
    margin-top: 1%;    
  }

.intro-name
{
    color: #ffffff;
    font-size: 40px;
    top: -10px;
    font-weight:bold;
}

.highlight 
{
    color: #506296; 
}

.date
{
    color: #e3e3e3;
    font-size: 13px;
    margin-top: -3%;
    margin-right: 145px;
    text-align: center;   
}

.description
{
    color: #ffffff;
    font-size: 13px;
    margin-top: -1%;
    margin-right: 7px;
    text-align: center;   
}

button 
{
    width: 200px !important;
    height: 50px !important;
    border-radius: 100px !important;
    font-size: 10px;
    text-transform: lowercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000000 !important;
    background-color: #ffffff !important;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    opacity: 0.90;
}
  
button:hover 
{
    background-color:  #8eadce  !important;
    border-radius: 100px;
    box-shadow: 0px 8px 20px  #2b3552; ;
    color: #fff !important; 
    transform: translateY(-3px);
}
  
button:active 
{
    transform: translateY(-1px);
}
